<section class="group fco-news">

  <header class="fco-header">
    <hgroup>
      <h1><a href="<%= root_path %>" title="Back to travel advice home page">Travel advice</a></h1>
    </hgroup>
  </header>

  <article>
    <div class="inner">
      <h1><%= @travel_news.title %></h1>
      <h2 class="date"><%= long_format_date(@travel_news.published_at) %></h2>
      <!--  we'll bring this back when we have cleaner data <div class="summary"><p><%= @travel_news.description %></p></div> -->
      <div class="not-final-formatting"><%= @travel_news.body_markup.html_safe %></div>
    </div>
  </article>
</section>