<section class="fco-home">

  <header class="fco-header">
    <hgroup>
      <h1>
        Travel advice
      </h1>
      <h2>
        From the Foreign &amp; Commonwealth Office
      </h2>
    </hgroup>
  </header>

  <div class="content with-related">
    <div class="guidance-headline">
      <h1>Where are you travelling to?</h1>
      <ul>
        <%- @countries.each do |country| -%>
          <li><%= link_to country.name, country_path(country) %></li>
        <%- end -%>
      </ul>
    </div>

    <div class="updates-travel-advice group">

      <div class="updates">
        <h2>Avoid all travel to</h2>
        <ul>
          <%- @avoid_travel_countries.each do |country| -%>
            <li>
              <%= link_to "#{country.avoid_travel_restriction.to_s.titlecase} of #{country.name}", country_path(country) %>
            </li>
          <%- end -%>
        </ul>
      </div>

      <div class="updates">
        <h2>Essential travel only to</h2>
        <ul>
          <%- @essential_travel_countries.each do |country| -%>
            <li>
              <%= link_to "#{country.essential_travel_restriction.to_s.titlecase} of #{country.name}", country_path(country) %>
            </li>
          <%- end -%>
        </ul>
      </div>

      <div class="updates news">
        <h2>Recent updates</h2>
        <ul>
          <%- @travel_news.each do |news| -%>
            <li>
              <h3><%= link_to news.title, news_item_path(news) %></h3>
              <h4 class="date"><%= news.published_at %></h4>
              <p><%= news.description %></p>
            </li>
          <%- end -%>
        </ul>
      </div>
  
    </div>
  </div>
  
  <div class="related-positioning">
  	<div class="related-container">
   		<div class="related">
  	     <div class="inner" class="group">
  	       <h2>Related tools &amp; topics</h2>
  	       <nav role="navigation">
  	         <ul>
  							some other stuff here
                  <li class="related-topic"><a href="#">View more in <span>Some section &rarr;</span></a></li>
  	         </ul>
  	       </nav>
  	     </div>
  	   </div><!-- end .related -->
  	</div>
  </div>

</section>