<section class="group fco-home" id="content">

  <header class="page-header fco-header">
    <hgroup>
      <h1>Travel advice</h1>
    </hgroup>
  </header>

  <div class="content with-related">
    <div class="guidance-headline">
      <h1>Where are you travelling to?</h1>
      <ul id="travelling-to">
        <%- @countries.each do |country| -%>
          <li><%= link_to country.name, country_path(country) %></li>
        <%- end -%>
      </ul>
    </div>

    <div class="updates-travel-advice group">

      <div class="updates">
        <h2>Avoid all travel to</h2>
        <%- @avoid_travel_countries.group_by(&:avoid_travel_restriction).each do |restriction, countries| -%>
          <h3><%= restriction.to_s.titlecase -%> of</h3>
          <ul>
            <%- countries.each do |country| -%>
              <li>
                <%= link_to country.name, country_path(country) %>
              </li>
            <%- end -%>
          </ul>
        <%- end -%>
      </div>

      <div class="updates">
        <h2>Essential travel only to</h2>
        <%- @essential_travel_countries.group_by(&:essential_travel_restriction).each do |restriction, countries| -%>
          <h3><%= restriction.to_s.titlecase -%> of</h3>
          <ul>
            <%- countries.each do |country| -%>
              <li>
                <%= link_to country.name, country_path(country) %>
              </li>
            <%- end -%>
          </ul>
        <%- end -%>

      </div>

      <div class="updates news">
        <h2>Recent updates</h2>
        <ul>
          <%- @travel_news.each do |news| -%>
            <li>
              <h3><%= link_to news.title, news_item_path(news) %></h3>
              <h4 class="date"><%= long_format_date(news.published_at) %></h4>
              <p><%= news.description %></p>
            </li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>

  <div class="related-positioning">
  	<div class="related-container">
   		<div class="related">
  	     <div class="inner" class="group">
  	       <h2>Related tools &amp; topics</h2>
  	       <nav role="navigation">
  	         <ul>
  							some other stuff here
                  <li class="related-topic"><a href="#">View more in <span>Some section &rarr;</span></a></li>
  	         </ul>
  	       </nav>
  	     </div>
  	   </div><!-- end .related -->
  	</div>
  </div>

</section>
<script defer src="/fco-assets/javascripts/country-autocomplete.js"></script>

