<%= content_for :head do -%>
  <%= stylesheet_link_tag "/fco-assets/stylesheets/leaflet.css" -%>
  <script defer src="/fco-assets/javascripts/leaflet.js"></script>
  <script defer src="/fco-assets/javascripts/map.js"></script>
<%- end -%>

<section class="group fco-country">
  <header class="fco-header">
    <hgroup>
      <h1>Travel advice</h1>
      <h2>From the Foreign &amp; Commonwealth Office</h2>
    </hgroup>
  </header>

  <div class="article-container">
    <article>
      <div class="inner">
        <h1><%= @country.name %></h1>

        <%- if [:all, :parts].include?(@country.avoid_travel_restriction) -%>
          <div class="advisory against-any-travel">
            <h2>We advise against any travel to <%= @country.avoid_travel_restriction.to_s %> of <%= @country.name %>.</h2>
          </div>
        <%- end -%>

        <%- if [:all, :parts].include?(@country.essential_travel_restriction) -%>
          <div class="advisory high-alert against-essential-travel">
            <h2>We advise only essential travel to <%= @country.essential_travel_restriction.to_s %> of <%= @country.name %>.</h2>
          </div>
        <%- end -%>

        <a href="#presence" class="visuallyhidden">Skip to information about the British presence in <%= @country.name %></a>

        <%- @section_presenters.each do |section| -%>
          <h2><%= section.title %></h2>
          <%= section.body %>
        <%- end -%>

      </div>
    </article>
  </div>

  <div class="country-details">

    <div class="country-info" <%- if @country.bounding_box.present? -%>data-bounding-box="<%= @country.bounding_box %>"<%- end -%> />

    <div class="presence-info" id="presence">
    
      <h2>British presence in <%= @country.name %></h2>
    
      <div class="presence">
        <h3 class="designation">British Council</h3>
        <h4 class="location">Tokyo</h4>
        <p class="telephone">Telephone: 012345 678910</p>
        <p class="address">
          1-2 Kagurazaka<br>
          Shinjyuku-ku<br>
          Tokyo 162-0825
        </p>
        <p class="opening-hours">
          GMT: Monday-Friday 0000-0800<br>
          Local Time: Monday-Friday 0900-1700
        </p>
      </div>
      
      <div class="presence">
        <h3 class="designation">British Embassy</h3>
        <h4 class="location">Tokyo</h4>
        <p class="url"><a href="http://www.fco.gov.uk/en/travel-and-living-abroad/find-an-embassy/asia-and-oceania/embassy-tokyo">Website</a></p>
        <p class="email">embassy.tokyo@fco.gov.uk</p>
        <p class="address">
          No 1 Ichiban-cho<br>
          Chiyoda-ku<br>
          Tokyo 102-8381
        </p>
        <p class="opening-hours">The British Embassy is open 09:30-16:30, Monday to Friday and closed for weekends.</p>
      </div>
      
      <div class="presence">
        <h3 class="designation">British Consulate-General</h3>
        <h4 class="location">Osaka</h4>
        <p class="url"><a href="http://www.fco.gov.uk/en/travel-and-living-abroad/find-an-embassy/asia-and-oceania/consulate-general-osaka">Website</a></p>
        <p class="email">bcgosaka@fco.gov.uk</p>
        <p class="address">
          Epson Osaka Building 19F<br>
          3-5-1 Bakuro-machi<br>
          Chuo-ku<br>
          Osaka 541 - 0059
        </p>
        <p class="opening-hours">Monday-Friday 09:30-12:00 / 13:00-17:00</p>
      </div>
    
      <%- @missions.each do |mission| -%>
        <%= debug mission -%>
      <%- end -%>

    </div

  </div>

</section>