<%- content_for :head do %>
  <%= stylesheet_link_tag "/fco-assets/stylesheets/leaflet.css" -%>
  <%= javascript_include_tag "/fco-assets/javascripts/leaflet.js" -%>
  <!--[if lte IE 8]><%= stylesheet_link_tag "/fco-assets/stylesheets/leaflet.ie.css" %><![endif]-->
  <script defer>

  </script>
<%- end -%>

<section class="group">

  <header class="fco-header">
    <hgroup>
      <h1>Travel advice</h1>
      <h2>From the Foreign &amp; Commonwealth Office</h2>
    </hgroup>
  </header>

  <article>
    <div class="inner">
      <h1><%= @country.name %></h1>

      <%- if [:all, :parts].include?(@country.avoid_travel_restriction) -%>
        <p>We advise against any travel to <%= @country.avoid_travel_restriction.to_s %> of <%= @country.name %>.</p>
      <%- end -%>

      <%- if [:all, :parts].include?(@country.essential_travel_restriction) -%>
        <p>We advise only essential travel to <%= @country.essential_travel_restriction.to_s %> of <%= @country.name %>.</p>
      <%- end -%>

      <%- @section_presenters.each do |section| -%>
        <h2><%= section.title %></h2>
        <%= section.body %>
      <%- end -%>

      <%- @missions.each do |mission| -%>
        <%= debug mission -%>
      <%- end -%>
    </div>
  </article>

</section>