<%= content_for :head do -%>
  <%= stylesheet_link_tag "/fco-assets/stylesheets/leaflet.css" -%>
  <script defer src="/fco-assets/javascripts/leaflet.js"></script>
  <script defer src="/fco-assets/javascripts/map.js"></script>
<%- end -%>

<section class="group fco-country">
  <header class="fco-header">
    <hgroup>
      <h1>Travel advice</h1>
      <h2>From the Foreign &amp; Commonwealth Office</h2>
    </hgroup>
  </header>

  <div class="article-container">
    <article>
      <div class="inner">
        <h1><%= @country.name %></h1>

        <%- if [:all, :parts].include?(@country.avoid_travel_restriction) -%>
          <div class="advisory against-any-travel">
            <h2>We advise against any travel to <%= @country.avoid_travel_restriction.to_s %> of <%= @country.name %>.</h2>
          </div>
        <%- end -%>

        <%- if [:all, :parts].include?(@country.essential_travel_restriction) -%>
          <div class="advisory high-alert against-essential-travel">
            <h2>We advise only essential travel to <%= @country.essential_travel_restriction.to_s %> of <%= @country.name %>.</h2>
          </div>
        <%- end -%>

        <a href="#presence" class="visuallyhidden">Skip to information about the British presence in <%= @country.name %></a>

        <%- @section_presenters.each do |section| -%>
          <h2><%= section.title %></h2>
          <%= section.body %>
        <%- end -%>

      </div>
    </article>
  </div>

  <div class="country-details">

    <div class="country-info" <%- if @country.bounding_box.present? -%>data-bounding-box="<%= @country.bounding_box %>"<%- end -%> />

    <div class="presence-info" id="presence">

      <h2>British presence</h2>

      <%- @missions.each do |mission| -%>
        <%= debug mission -%>
      <%- end -%>

    </div

  </div>

</section>