<%= content_for :head do -%>
  <%= stylesheet_link_tag "/fco-assets/stylesheets/leaflet.css" -%>
  <script defer src="/fco-assets/javascripts/leaflet.js"></script>
  <script defer src="/fco-assets/javascripts/map.js"></script>
<%- end -%>

<section class="group fco-country">
  <header class="fco-header">
    <hgroup>
      <h1><a href="/" title="Back to travel advice home page">Travel advice</a></h1>
    </hgroup>
  </header>

  <div class="article-container">
    <article>
      <div class="inner">
        <h1><%= @country.name %></h1>

        <%- if [:all, :parts].include?(@country.avoid_travel_restriction) -%>
          <div class="advisory against-any-travel">
            <h2>We advise against any travel to <%= @country.avoid_travel_restriction.to_s %> of <%= @country.name %>.</h2>
          </div>
        <%- end -%>

        <%- if [:all, :parts].include?(@country.essential_travel_restriction) -%>
          <div class="advisory high-alert against-essential-travel">
            <h2>We advise only essential travel to <%= @country.essential_travel_restriction.to_s %> of <%= @country.name %>.</h2>
          </div>
        <%- end -%>

        <a href="#presence" class="visuallyhidden">Skip to information about the British presence in <%= @country.name %></a>

        <%- @section_presenters.each do |section| -%>
          <h2><%= section.title %></h2>
          <%= section.body %>
        <%- end -%>

      </div>
    </article>
  </div>

  <div class="country-details">

    <div class="country-info" data-iso-code="<%= @country.iso_3166_1 %>" <%- if @country.bounding_box.present? -%>data-bounding-box="<%= @country.bounding_box %>"<%- end -%> />

    <%- if @missions.any? -%>
      <div class="presence-info" id="presence">

        <h2>British presence in <%= @country.name %></h2>

        <%- @missions.each do |mission| -%>
          <div class="presence">
            <h3 class="designation"><%= mission.designation %></h3>
            <h4 class="location"><%= mission.location_name %></h4>
            <%- if mission.url.present? -%>
              <p class="url"><a href="<%= mission.url -%>">Website</a></p>
            <%- end -%>
            <%- if mission.phone.present? -%>
              <p class="telephone">Telephone: <%= mission.phone -%></p>
            <%- end -%>
            <%- if mission.address.present? -%>
              <p class="address"><%= simple_format(mission.address) -%></p>
            <%- end -%>
            <%- if mission.office_hours.present? -%>
              <p class="opening-hours"><%= simple_format(mission.office_hours) -%></p>
            <%- end -%>
          </div>
        <%- end -%>
      </div>
    <%- end -%>

  </div>

</section>