<section>
<h1><%= @mission.location_name %>, <%= @mission.country.name %></h1>
<h2><%= @mission.designation %></h2>
<p><%= @mission.address %></p>
<p><%= @mission.phone %></p>
<p><%= @mission.url %></p>
</section>